.page-container {
    margin-top: 5%;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
}

.title {
    margin-top: 2%;
}

.visualizations-button {
    color: white !important;
    border: 1px solid white !important;
}

.crypto-description,
.crypto-reward,
.crypto-website,
.crypto-source,
.crypto-coins,
.crypto-date-founded {
    font-size: 30px;
    padding-left: 10%;
    padding-right: 10%;
}

.news-title {
    font-size: 50px;
    padding-top: 4%;
}

.pagination {
    padding-bottom: 3%;
    padding-top: 3%;
}

.filters-component {
    display: flex;
    flex-direction: row;
    justify-content: space-around !important;
    width: 65%;
    padding-bottom: 2%;
}

.search-component {
    text-align: left !important;
    position: relative;
    padding-top: 3%;
}

.search-box {
    padding-bottom: 2.5%;
    width: 100%;
}

.chips-list {
    padding-top: 3%;
    padding-bottom: 3%;
    margin-right: 10%;
    font-size: large !important;
}

search {
    width: 300;
}

.clear-filters-chip {
    float: right;
    align-items: flex-end;
    margin-top: 3%;
    font-size: medium !important;
}

.no-cryptos {
    padding-bottom: 5%;
}

.sorting-component {
    padding-bottom: 3%;
    margin-left: 10px;
    width: 20% !important;
    padding-top: 2.45%;
}

.date-range-filtering {
    padding-top: 3%;
    margin-left: 20px;
    flex-direction: row;
}

.start-date-picker {
    margin-right: 7px !important;
}


@media screen and (max-width: 1400px) {
    .filters-component {
        flex-direction: column;
    }
}