.page-container {
    margin-top: 5%;
}

.news-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
}

.news-title {
    font-size: 50px;
    padding-top: 4%;
}

p a {
    color: white;
    background-color: transparent;
}