.news-card-create-button {
    color: white !important;
    border: 1px solid white !important;
    margin-bottom: 25px !important;
}

.news-card-update-button {
    color: white !important;
    border: 1px solid white !important;
}

.toolbar-style {
    display: "flex" !important;
    flex-direction: row;
    justify-content: space-between !important
}

.news-dialog-title {
    margin-right: -20px !important;
    font-size: 30px !important;
    font-family: "Lato", sans-serif !important;
}

.news-dialog-content {
    display: flex !important;
    justify-content: center !important;
}

.form-wrapper {
    margin-top: 5em !important;
    width: 40% !important;
    display: flex !important;
    flex-direction: column !important;
    align-content: center !important;
    gap: 2em !important;
}

.submit-form-button {
    max-width: 15% !important;
    align-self: center !important;
    color: white !important;
    border: 1px solid white !important;
    font-family: "Lato", sans-serif !important;
}