.crypto-card {
    margin: 2rem 2rem 2rem 0;
    padding: 1.5rem;
    width: 450px;
    transition: transform .3s ease;
    cursor: auto;
}

.card-title {
    font-weight: 800;
    font-size: 2rem !important;
}

.card-date-founded {
    font-size: 1.2rem !important;
    padding-bottom: 3%;
}

.card-content{
    font-size: 1rem !important;
}

.card-media {
    height: 250px;
    padding-top: 2%;
}

a {
    color: white;
}

.learn-more-button {
    color: white !important;
    border: 1px solid white !important;
}

.cryptocurrency-card-buttons-container {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    gap: 15px;
}