.news-card {
    margin: 2rem 2rem 2rem 0;
    padding: 1.5rem;
    width: 65%;
    transition: transform .3s ease;
    cursor: auto;
    font-size: 20px;
}

.card-title {
    font-weight: 900 !important;
    font-size: 24px !important;
    font-family: "Lato", sans-serif !important;
}

.card-publishedAt {
    font-style: italic !important;
    font-size: 16px !important;
    margin-bottom: 20px !important;
    font-family: "Lato", sans-serif !important;
}

.card-text {
    font-size: 18px !important;
    overflow: hidden !important;
    transition: height 0.5s ease-in-out !important;
    font-family: "Lato", sans-serif !important;
}

.card-text.collapsed {
    animation: mask-collapsing 0.5s !important;
    mask-image: linear-gradient(black 50%, transparent) !important;
}

.card-text.expanded {
    animation: mask-expanding 0.5s !important;
    mask-image: linear-gradient(black 100%, transparent) !important;
}

.toggle-button {
    color: white !important;
    border: 1px solid white !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    font-family: "Lato", sans-serif !important;
}

.news-card-buttons-container {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    gap: 15px;
}

@keyframes mask-collapsing {
    from {
        mask-image: linear-gradient(black 100%, transparent);
    }
    to {
        mask-image: linear-gradient(black 50%, transparent);
    }
}

@keyframes mask-expanding {
    from {
        mask-image: linear-gradient(black 50%, transparent);
    }
    to {
        mask-image: linear-gradient(black 100%, transparent);
    }
}